div{
  text-align: center; 
  
}  

img{
   border-radius: 50%;
    width:90px;      
    height: 90px; 
    text-align: center;  
}
.id{
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;

}  
.great{
 background-color: rgb(236, 178, 111);
height: 580px; 
margin-top: -25px;   
margin-left: -20px; 
margin-right: -8px;  
border-radius: 0 0 25px 40px;
padding-bottom: 82px;   
  

} 
 



 h1{ 
   color: black;    
padding: 20px; 
background-color: darkslategray;
border-radius: 0 0 50% 50%;   
background: linear-gradient(45deg); 
color: white;
color: transparent;  
-webkit-text-stroke: 2px white; 


 }   


.channel{
  background-color: red;
  padding: 20px;
border-radius: 15px;
letter-spacing: 0px;
display: inline;
margin-right: 270px; 
}

.face{
  background-color: blue;
  padding: 20px;
border-radius: 15px; 
word-spacing: 20px;
margin-right: 130px;
}

.insta{
  background-color: rgb(216, 42, 77);
  padding: 20px;
border-radius: 15px; 
word-spacing: 20px;
margin-left: 20px;

}

.snap{ 
  background-color: yellow;
  padding: 20px;
  border-radius: 15px;   
  letter-spacing: 5px;
  margin-left: 155px;
}

.twit{
  background-color: #00acee;
  padding: 20px;
  border-radius: 15px; 
  letter-spacing: 8px;
  margin-left: 295px;
}
.butt{
  margin-bottom: 25px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 260px;
  color: red;
}

.buttt{
  margin-bottom: 25px;   
  cursor: pointer;
  border-radius: 5px; 
  margin-right: 120px;
  color: blue;
}

.butttt{ 
  margin-bottom: 25px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 25px;
  color: rgb(216, 42, 77);
}

.buttttt{
  margin-bottom: 25px;  
  cursor: pointer;
  border-radius: 5px;
  margin-left: 160px;
  color: yellowgreen;
}

.butttttt{
  margin-bottom: 25px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 310px;
  color: #00acee;
}